* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Roboto Slab', serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic"); }

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic"); }

@font-face {
  font-family: 'a_Assuan';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/a_assuan_542a7e75d34754e3943c73f50d028207.woff") format("woff"), url("../fonts/a_assuan_542a7e75d34754e3943c73f50d028207.ttf") format("truetype"); }

@font-face {
  font-family: 'Museo Cyrl';
  src: local("Museo Cyrl 500"), local("MuseoCyrl-500"), url("../fonts/Museocyrl500.woff2") format("woff2"), url("../fonts/Museocyrl500.woff") format("woff"), url("../fonts/Museocyrl500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F1F1F1;
  padding: 0;
  margin: 0; }

.open {
  overflow: hidden; }

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none; }

p {
  color: #555;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4 {
  margin: 15px 5px;
  font-family: 'Museo Cyrl', serif;
  color: #334E4C; }

h1 {
  font-size: 56px; }

h2 {
  padding: 0 10px;
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 18px; }

aside.menu {
  overflow-y: scroll;
  height: calc(100vh - 175px);
  display: block; }

hr {
  border: 0;
  border-top: 1px solid #fff;
  height: 2px; }

#myVideo {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; }

#YMapsID {
  width: 100%;
  height: calc(100vh - 100px);
  padding: 15px;
  position: relative; }

#YMapsID2 {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0; }

.notification {
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative; }

.notification.is-primary {
  background-color: #00d1b2;
  color: #fff; }

.banner {
  position: relative;
  background-image: url("/img/header_banner.jpg");
  background-position: center top;
  width: 100%;
  height: calc(100vh - 64px);
  background-color: #f8f8f8;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  padding: 50px;
  text-align: center; }
  .banner h1, .banner p {
    z-index: 1000;
    color: #fff; }
  .banner h1 {
    font-size: 72px; }
  .banner p {
    font-weight: 700;
    padding: 15px;
    font-size: 18px; }

.darken {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

.container {
  padding: 20px; }

.container-full {
  background-image: url("/img/fon_director.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 15px 0; }
  .container-full .full-item {
    padding: 0 15px;
    position: relative;
    text-align: left;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    height: 100%; }
  .container-full .items .item {
    padding: 0; }

.image-bg {
  background-image: url("/img/director.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 480px; }

.ps {
  background-color: #fff;
  height: 100%;
  min-height: 480px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .ps p {
    margin: 20px 0; }
    .ps p.author {
      margin: 5px 0; }
  .ps h3 {
    margin: 0;
    font-size: 28px; }

.item > img {
  display: block;
  width: 100%;
  border-radius: 4px; }

.adress {
  position: absolute;
  display: block;
  z-index: 1000;
  background-color: #fff;
  right: 15px;
  border: 1px solid #dbdbdb;
  width: 300px;
  height: calc(100vh - 130px); }

.store {
  border-bottom: 1px solid #dbdbdb; }

.store > div {
  margin: 10px 5px;
  font-weight: 400; }

.to-products:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.tabs {
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-align: stretch;
    -webkit-box-align--ms-flex-align: stretch;
      -webkit-box-align--ms-flex-align-align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-pack: justify;
    -webkit-box-pack--ms-flex-pack: justify;
      -webkit-box-pack--ms-flex-pack-justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  border-bottom: 1px solid #dbdbdb; }

.tabs a {
  -webkit-box-align: center;
    -webkit-box-align--ms-flex-align: center;
      -webkit-box-align--ms-flex-align-align-items: center;
  border-bottom: 1px solid #dbdbdb;
  color: #31A78F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
    -webkit-box-pack--ms-flex-pack: center;
      -webkit-box-pack--ms-flex-pack-justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  vertical-align: top; }

.tabs a:hover {
  border-bottom-color: #363636;
  color: #363636; }

.tabs li {
  display: block; }

.tabs li.is-active a {
  border-bottom-color: #31A78F;
  color: #31A78F; }

.tabs ul {
  -webkit-box-align: center;
    -webkit-box-align--ms-flex-align: center;
      -webkit-box-align--ms-flex-align-align-items: center;
  border-bottom: 1px solid #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
    -webkit-box-flex--ms-flex-positive: 1;
      -webkit-box-flex--ms-flex-positive-flex-grow: 1;
  -ms-flex-negative: 0;
    -ms-flex-negative-flex-shrink: 0;
  -webkit-box-pack: start;
    -webkit-box-pack--ms-flex-pack: start;
      -webkit-box-pack--ms-flex-pack-justify-content: flex-start; }

.tabs ul.is-left {
  padding-right: 0.75em; }

.tabs ul.is-center {
  -webkit-box-flex: 0;
    -webkit-box-flex--ms-flex: none;
      -webkit-box-flex--ms-flex-flex: none;
  -webkit-box-pack: center;
    -webkit-box-pack--ms-flex-pack: center;
      -webkit-box-pack--ms-flex-pack-justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em; }

.tabs ul.is-right {
  -webkit-box-pack: end;
    -webkit-box-pack--ms-flex-pack: end;
      -webkit-box-pack--ms-flex-pack-justify-content: flex-end;
  padding-left: 0.75em; }

.tabs .icon:first-child {
  margin-right: 0.5em; }

.tabs .icon:last-child {
  margin-left: 0.5em; }

.tabs.is-centered ul {
  -webkit-box-pack: center;
    -webkit-box-pack--ms-flex-pack: center;
      -webkit-box-pack--ms-flex-pack-justify-content: center; }

.tabs.is-right ul {
  -webkit-box-pack: end;
    -webkit-box-pack--ms-flex-pack: end;
      -webkit-box-pack--ms-flex-pack-justify-content: flex-end; }

.tabs.is-boxed a {
  border: 1px solid transparent;
  border-radius: 3px 3px 0 0; }

.tabs.is-boxed a:hover {
  background-color: whitesmoke;
  border-bottom-color: #dbdbdb; }

.tabs.is-boxed li.is-active a {
  background-color: white;
  border-color: #dbdbdb;
  border-bottom-color: transparent !important; }

.tabs.is-fullwidth li {
  -webkit-box-flex: 1;
    -webkit-box-flex--ms-flex-positive: 1;
      -webkit-box-flex--ms-flex-positive-flex-grow: 1;
  -ms-flex-negative: 0;
    -ms-flex-negative-flex-shrink: 0; }

.tabs.is-toggle a {
  border: 1px solid #dbdbdb;
  margin-bottom: 0;
  position: relative; }

.tabs.is-toggle a:hover {
  background-color: whitesmoke;
  border-color: #b5b5b5;
  z-index: 2; }

.tabs.is-toggle li + li {
  margin-left: -1px; }

.tabs.is-toggle li:first-child a {
  border-radius: 3px 0 0 3px; }

.tabs.is-toggle li:last-child a {
  border-radius: 0 3px 3px 0; }

.tabs.is-toggle li.is-active a {
  background-color: #31A78F;
  border-color: #31A78F;
  color: #fff;
  z-index: 1; }

.tabs.is-toggle ul {
  border-bottom: none; }

.tabs.is-small {
  font-size: 0.75rem; }

.tabs.is-medium {
  font-size: 1.25rem; }

.tabs.is-large {
  font-size: 1.5rem; }

.menu-list {
  line-height: 1.25; }

.menu-list a {
  border-radius: 2px;
  color: #4a4a4a;
  display: block;
  padding: 0.5em 0.75em; }

.menu-list a:hover {
  background-color: whitesmoke;
  color: #31A78F; }

.menu-list a.is-active {
  background-color: #31A78F;
  color: #fff; }

.menu-list li ul {
  border-left: 1px solid #dbdbdb;
  margin: 0.75em;
  padding-left: 0.75em; }

.btn {
  display: block;
  border: 1px solid #334E4C;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  color: #334E4C; }

.btn-default-secondary {
  border: 1px solid #31A78F;
  color: #31A78F;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease; }
  .btn-default-secondary:hover {
    color: #f1f1f1;
    background-color: #31A78F; }

.news > h4 {
  margin: 10px 0;
  text-align: left !important;
  min-height: 110px; }

.news > p {
  margin: 10px 0;
  color: #777;
  text-align: left;
  font-size: 14px;
  min-height: 100px; }

.news > span {
  color: #ccc;
  font-size: 14px;
  font-weight: 700; }

.not-padding {
  padding: 20px 35px; }
  .not-padding .column {
    padding: 0; }

.nav-burger {
  cursor: pointer;
  display: none;
  height: 3.7rem;
  position: relative;
  width: 3.7rem;
  margin-left: auto;
  border-left: 0px solid #dddddd; }
  .nav-burger span {
    background-color: #fff;
    display: block;
    height: 1px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: 50%;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
      transition-transition-property: none;
    transition-transition-property: none;
    -webkit-transition-property: background, left, opacity, -webkit-transform;
    transition-property: background, left, opacity, -webkit-transform;
    transition-property: background, left, opacity, transform;
    transition-property: background, left, opacity, transform, -webkit-transform;
    width: 15px; }
    .nav-burger span:nth-child(1) {
      margin-top: -6px; }
    .nav-burger span:nth-child(2) {
      margin-top: -1px; }
    .nav-burger span:nth-child(3) {
      margin-top: 4px; }

.nav-burger.is-active span:nth-child(1) {
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: left top;
  transform-origin: left top; }

.nav-burger.is-active span:nth-child(2) {
  opacity: 0; }

.nav-burger.is-active span:nth-child(3) {
  margin-left: -5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom; }

nav {
  position: static;
  height: 64px;
  background-color: #31a78f;
  -webkit-box-shadow: 0px 1px 10px #999;
  box-shadow: 0px 1px 10px #999; }
  nav ul {
    margin: 0;
    padding: 40px 20px; }
    nav ul.is-right {
      float: right;
      padding: 20px; }
    nav ul.is-left {
      float: left;
      padding: 15px; }
      nav ul.is-left .logo {
        font-family: 'a_Assuan';
        font-size: 28px;
        text-transform: uppercase;
        padding: 0; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        color: #fff;
        padding: 10px 20px;
        position: relative; }
        nav ul li a:hover {
          color: #FFE074; }

.navbar li {
  padding: 10px 12px; }
  .navbar li:first-child {
    background: #31A78F;
    border-radius: 2px; }
  .navbar li h4 {
    color: #fff;
    font-weight: 400;
    margin: 0; }
  .navbar li > a {
    color: #555; }

.breadcrumb ul {
  padding: 10px 5px; }
  .breadcrumb ul > li {
    display: inline-block; }
    .breadcrumb ul > li + li:before {
      content: "\0002f";
      color: #7a7a7a; }
    .breadcrumb ul > li a, .breadcrumb ul > li span {
      padding: 0 8px;
      color: #7a7a7a; }
    .breadcrumb ul > li span {
      color: #31A78F; }

.center {
  text-align: center; }

.right {
  text-align: right; }

footer {
  background-color: #31A78F;
  color: #fff;
  text-align: left;
  font-size: 14px; }
  footer h5 {
    font-size: 16px;
    margin: 20px 0 10px 0; }
  footer .item > div {
    color: #fff;
    text-align: left;
    margin: 5px 0; }
  footer .items .item {
    padding: 5px 15px; }
  footer a {
    color: #fff;
    text-align: left;
    border-bottom: 1px dashed #fff;
    -webkit-transition: border-bottom .3s ease;
    transition: border-bottom .3s ease;
    line-height: 1.25; }
    footer a:hover {
      border-bottom: 1px dashed #31A78F; }

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.column {
  display: block;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  padding: 0.75rem; }
  .column.is-full {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%; }
  .column.is-half {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 50%; }
  .column.is-one-third {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 33.3%; }
  .column.is-one-quarter {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 25%; }
  .column.is-two-fifths {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 40%; }
  .column.is-three-fifths {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 60%; }
  .column.is-three-quarter {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 75%; }
  .column img {
    width: 100%;
    -webkit-transition: -webkit-transform .2s ease-in;
    transition: -webkit-transform .2s ease-in;
    transition: transform .2s ease-in;
    transition: transform .2s ease-in, -webkit-transform .2s ease-in; }

@media screen and (max-width: 960px) {
  .banner {
    width: 100%;
    height: calc(100vh / 2); }
    .banner h1 {
      font-size: 36px; }
  #myVideo {
    display: none;
    width: 100%;
    height: auto; }
  .is {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100% !important; }
  .is-right {
    display: none;
    z-index: 1045; }
  .columns {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .column.is-one-quarter {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 50%; }
    .column.is-one-quarter.is {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      width: 50%; }
  .column.is-two-fifths {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%; }
  .column.is-three-fifths {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%; }
  .column.is-one-quarter {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 50%; }
  .column.is-three-quarter {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%; }
  .breadcrumb {
    font-size: 14px; }
  .navbar {
    display: none; }
  .right {
    text-align: left; } }

@media screen and (max-width: 480px) {
  #YMapsID {
    padding: 10px 0; }
  .adress {
    display: none; }
  .banner h1 {
    font-size: 28px; }
  .banner p {
    font-size: 14px; }
  h2 {
    font-size: 26px;
    margin: 0;
    padding: 0; }
  footer {
    padding: 0.75rem; }
  .columns {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .column {
    padding: 0.75rem 0 0.75rem 0; }
    .column.is-one-quarter {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      width: 100%; }
    .column.is {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      width: 100%; }
    .column.is-one-third {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      width: 100%; }
    .column.is-one-quarter {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      width: 100%; }
    .column.is-three-quarter {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      width: 100%; }
  .ps {
    padding: 20px; }
    .ps p {
      font-size: 14px; }
    .ps h3 {
      font-size: 18px; }
  .image-bg {
    min-height: 300px; }
  .not-padding {
    padding: 10px 20px; }
  p {
    font-size: 14px; } }

@media screen and (max-height: 480px) {
  .banner {
    height: calc(100vh - 60px); }
  ul.is-right {
    overflow-y: scroll;
    display: block; } }

@media screen and (max-width: 1185px) {
  .nav-burger {
    display: block; }
  .is-right {
    display: none; }
  nav ul.is-right {
    display: none;
    position: absolute;
    width: 100%;
    top: 59px;
    background: #31a78f;
    height: calc(100vh - 59px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    nav ul.is-right li {
      display: block;
      padding: 10px; } }
